/* styles.css */

/* Estilos para el cuerpo */
body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para el encabezado */
  .logo {
    width: 100px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    float: left;
    margin-right: 10px;
  }
  

  header {
    background-color: #444444;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav {
    margin-top: 20px;
  }
  
  .social-icon {
    display: inline-block;
    margin-right: 10px;
    color: #FFFFFF;
    text-decoration: none;
  }
  
  /* Estilos para el contenido principal */
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #444444;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    font-size: 12px;
  }
  
  footer a {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .services {
    list-style-type: none;
  }
  